<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/stylesheets/home.css">  

<br>
<br>
<br>
<section class="cards-home">
<div class="row">
    <div class="col s12 m6">
      <div class="card" style="width:55%;height:55%;">
        <div class="card-image">
          <img src="minhas-conexoes.jpg">
          <span class="card-title red accent-4">Minhas Conexões</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">face</i></a>
        </div>
        <div class="card-content">
          <p>Administre suas conexões, saiba quem será testado e crie grupos que farão a prova.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card" style="width:55%;height:55%;">
        <div class="card-image">
          <img src="provas-realizadas-home.jpg">
          <span class="card-title red accent-4">Provas Realizadas</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">school</i></a>
        </div>
        <div class="card-content">
          <p>Sua performance em uma página. Garanta seu melhor resultado dando seu melhor!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m6">
      <div class="card" style="width:55%;height:55%;">
        <div class="card-image">
          <img src="questoes-criadas-home.jpg">
          <span class="card-title red accent-4">Questões Criadas</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <p>Construa a história e divirta-se ensinando. Aqui é sua área criativa e desafiadora.</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card" style="width:55%;height:55%;">
        <div class="card-image">
          <img src="provas-criadas-home.jpg">
          <span class="card-title red accent-4">Provas Criadas</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">edit</i></a>
        </div>
        <div class="card-content">
          <p>Quem vai ser testado? Envie suas provas para suas conexões. Boa sorte para sua turma.</p>
        </div>
      </div>
    </div>
  </div>

</div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>


