<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="/stylesheets/sidebar.css" />
  
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>


  <div class="topbar">
      Welcome, Username

    </div>


    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>

  

    
    <div class="sidebar">
        <header>    
            PROJETO AXIOMA
        </header>
<!-- ícone de enu lateral no html -->
        <ul>
            <div class="icon-1"> <li><a href="/">Home  <img src="home.svg" alt="" class="filter-white"> </a></li> </div>
            <div class="icon-2"> <li><a href="/conexoes">Conexões <img src="ccc.svg" alt="" class="filter-white"></a></li> </div>
            <div class="icon-3"> <li><a href="/provas-realizadas">Provas Realizadas  <img src="provas criadas.svg" alt="" class="filter-white"></a></li> </div>
            <div class="icon-4"> <li><a href="/questoes-criadas">Questões Criadas  <img src="questoes criadas.svg" alt="" class="filter-white"></a></li> </div>
            <div class="icon-5"> <li><a href="/provas-criadas">Provas Criadas  <img src="provas realizadas.svg" alt="" class="filter-white"></a></li> </div>
            <div class="icon-6"> <li><a href="/configuracoes">Configurações  <img src="settings.svg" alt="" class="filter-white"></a></li> </div>
            

        </ul>


    </div>




 

  <script src="/javascripts/script.js"></script>


  <div class="conteudo">
  {{{body}}}
 </div>


</body>
</html>