<link rel="stylesheet" href="/stylesheets/signup.css" />

<form action="" method="post">

<br>
<br>
<br>
<br>

<div class="cadastro-questao-title">
  <div class="cadastro-title-texto">Criar Conta</div> 
  </div>
</div>



<div class="cadastro-questao-infosgerais">
   Faça seu cadastro e Faça sua história

</div>


<div class="cadastro-questao-alternativas">

<div class="cadastro-questao-alternativa-a">
  <div class="assunto-enum">Nome Completo: <input type="text" class="input-nome" name="nomeCompleto"></div>
 
</div>

<div class="cadastro-questao-alternativa-b">
  <div class="assunto-enum">Email:<input type="text" class="input-email" name="email"></div>
 
</div>

<div class="cadastro-questao-alternativa-d">
  <div class="assunto-enum">Data de nascimento:<input type="text" class="input-nascimento" name="dataNascimento"></div>
 
</div>


<div class="cadastro-questao-alternativa-d">
  <div class="assunto-enum">Senha:<input type="text" class="input-senha" name="senha"></div>
 
</div>




<div class="btn-adicionar-questao">
<div class="btn-cadastrar-questao">
  
  <button type="submit">Cadastrar</button>

</div>





</form>


</div>