
.questoes-criadas-titulo{
  font-size: 26px;
  text-align: center;
  background: linear-gradient(to bottom, #1678e0 0%, rgb(59, 59, 207) 100%);   
  color: white;
  width: 700px;
  align-items: center;
  margin: 0 auto;
  border-radius: 10px;
  height: 35px;
  padding-top: 5px;

}


.questoes-criadas-procurar{
  margin: 20px auto;
  display: flex;
  width: 700px;
  


}

.questoes-criadas-procurar-div{
  display: flex;
  font-size: 18px;
  margin-top: 1px;
}

.input-procurar{
  margin-top: 1px;
  width: 350px;
  margin-left: 20px;
  height: 20px;
  border: none;
  background: rgb(235, 235, 236);
}

.btn-procurar-questao{
  height: 22px;
  background: blue;
  color:white;
  border-radius: 5px;
  width: 80px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
}


.btn-procurar-questao:hover{
  background: chartreuse;
  transition: all 0.3s ease-out;
  cursor: pointer;
  color: black;

}

.btn-adicionar-questao{
  height: 22px;
  background: green;
  color:white;
  border-radius: 5px;
  width: 90px;
  border: none;
  font-size: 16px;
  margin-left: 2px;

}


.btn-adicionar-questao:hover{
  background: chartreuse;
  transition: all 0.3s ease-out;
  cursor: pointer;
  color: black;

}

.questoes-criadas-header{
  display: flex;
  width: 1000px;
 
  margin: 30px auto 5px auto;
  
 


}



.header-assunto{
  
  background: linear-gradient(to bottom, rgb(8, 8, 209), rgb(62, 62, 209));
  color: white;
  width: 150px;
  text-align: center;
}


.header-enunciado{
  margin-left: 7px;
  background: linear-gradient(to bottom, rgb(8, 8, 209), rgb(62, 62, 209));
  color: white;
  width: 450px;
  text-align: center;

}



.header-altcorreta{
  margin-left: 7px;
  background: linear-gradient(to bottom, rgb(8, 8, 209), rgb(62, 62, 209));
  color: white;
  width: 150px;
  text-align: center;

}



.header-acao{
  margin-left: 7px;
  background: linear-gradient(to bottom, rgb(8, 8, 209), rgb(62, 62, 209));
  color: white;
  width: 150px;
  text-align: center;

}




.questoes-criadas-list{

  display: flex;
  width: 1000px;
 
  margin: 5px auto 5px auto;

}

.list-assunto{
  background: rgb(236, 236, 236);
  color: rgb(51, 51, 51);
  width: 150px;
  text-align: center;

}



.list-enunciado{
  margin-left: 7px;
  background: rgb(228, 228, 228);
  color: rgb(51, 51, 51);
  width: 450px;
  text-align: center;


}

.list-altcorreta{
  margin-left: 7px;
  background: rgb(228, 228, 228);
  color: rgb(51, 51, 51);
  width: 150px;
  text-align: center;


}


.list-acao{
  margin-left: 7px;
  background: rgb(228, 228, 228);
  color: rgb(51, 51, 51);
  width: 150px;
  text-align: center;
  display: flex;

}


.btn-editar-questao{
  background: blue;
  color: white;
  border: none;
  width: 70px;
  border-radius: 5px;

}

.btn-deletar-questao{
  background: red;
  color: white;
  border: none;
  width: 70px;
  border-radius: 5px;

}


.btn-editar-questao:hover {
  cursor: pointer;
  background: chartreuse;
  transition: all 0.3s ease-out;
  color: black;

}


.btn-deletar-questao:hover{
  cursor: pointer;
  background: chartreuse;
  transition: all 0.3s ease-out;
  color: black;

}




.btn-cadastrar-prova{
  align-items: center;
  margin-top: 15px;
  text-align: center;
  margin: 20px auto;
  background: black;
  color: white;
  width: 140px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  border: none;


}



.btn-cadastrar-prova:hover{
 background: chartreuse;
  transition: all 0.3s ease-out;
  cursor: pointer;
  color: black;
}



.btn-prova-db{
  display:flex;
  margin: 10px auto;



}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.list-add{
  margin-left: 7px;
  background: rgb(228, 228, 228);
  color: rgb(51, 51, 51);
  width: 80px;
  text-align: center;

}



.header-add{
  margin-left: 7px;
  background: linear-gradient(to bottom, rgb(8, 8, 209), rgb(62, 62, 209));
  color: white;
  width: 80px;
  text-align: center;
  

}


